---
import getBestScorersData from '../adapters/getBestScorersData';
import getPositionsData from '../adapters/getPositionsData';
import getScorersData from '../adapters/getScorersData';
import Podium from '../components/Podium.astro';
import PrognosticCalculator from '../components/PrognosticCalculator';
import Table from '../components/Table.astro';
import { results } from '../constants/results';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

const positionsData = getPositionsData(results);
const scorersData = getScorersData(results);
const bestScorersData = getBestScorersData(scorersData);
---

<Layout>
	<div class="flex flex-col md:flex-row md:flex-wrap gap-6 pb-6">
		<section class="bg-dark-light flex-1 flex flex-col gap-4 p-4 rounded-lg">
			<h2 class="font-semibold">Tabla de posiciones</h2>
			<Table
				data={positionsData}
				headers={["Pos.", "Equipo", "J", "G", "P", "E", "GF", "GC", "DG", "Puntos"]}
				highlightFirst
			/>
			<!-- <PrognosticCalculator client:load results={results} /> -->
		</section>

		<section class="bg-dark-light flex-1 flex flex-col gap-4 p-4 rounded-lg">
			<h2 class="font-semibold">Tabla de goleadores</h2>
			<Table
				data={scorersData}
				headers={["Pos.", "Jugador", "Goles", "Equipo"]}
				highlightFirst
				maxRows={10}
			/>
			<Podium winners={bestScorersData} />
		</section>
	</div>
</Layout>
