---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
  <main class="flex flex-col gap-6 pb-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <section class="bg-dark-light flex flex-col gap-2 p-4 rounded-lg">
        <h2 class="font-semibold text-base">Sobre el torneo</h2>
        <p class="text-gray text-xs">Hora: 9:00PM - 10:30PM</p>
        <p class="text-gray text-xs">Lugar: Parque Palao</p>
      </section>

      <section class="bg-dark-light flex flex-col gap-2 p-4 rounded-lg">
        <h2 class="font-semibold text-base">Equipos</h2>
        <p class="text-gray text-xs">Red Devils FC: FRANKITO, KANUTO, JOSUE, WACHI, WINCHO, RENZO, GARFIELD</p>
        <p class="text-gray text-xs">Realcoholicos FC: OMAR, PEDRO, HERALDO, LUCHO, RUZZO, FAVIO, SEBASTIAN</p>
        <p class="text-gray text-xs">FC Real Polaco: JOZHUA, RODRIGO, CHARLY, EDDER, PITBULL, YAIR, LIAM</p>
      </section>

      <section class="bg-dark-light flex flex-col gap-2 p-4 rounded-lg">
        <h2 class="font-semibold text-base">Fixture</h2>
        <p class="text-gray text-xs">9:00 - 9:15 | Red Devils FC VERDE</p>
        <p class="text-gray text-xs">9:15 - 9:30 | Red Devils FC vs FC Real Polaco</p>
        <p class="text-gray text-xs">9:30 - 9:45 | VERDE vs FC Real Polaco</p>
        <p class="text-gray text-xs">9:45 - 10:00 | VERDE vs Red Devils FC</p>
        <p class="text-gray text-xs">10:00 - 10:15 | FC Real Polaco vs Red Devils FC</p>
        <p class="text-gray text-xs">10:15 - 10:30 | FC Real Polaco vs VERDE</p>
      </section>

       <section class="bg-dark-light flex flex-col gap-2 p-4 rounded-lg">
        <h2 class="font-semibold text-base">Reglamento</h2>
        <p class="text-gray text-xs">En construcción</p>
      </section>
    </div>
  </main>
</Layout>
