---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
  <main class="flex flex-col gap-6">
    <h1 class="text-center text-base">Página en construcción</h1>
  </main>
</Layout>
