---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
  <main class="flex flex-col gap-6 pb-6">
    <div class="grid grid-cols-1 gap-6">
      <section class="bg-dark-light flex flex-col gap-4 p-4 rounded-lg">
        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">1. GENERAL</h3>
          <p>1.1 Solo el árbitro determina el inicio y final del partido, la pelota al centro del campo.</p>
          <p>1.2 Cada equipo está conformado por 8 jugadores, 5 en cancha y 3 en el banco, y como mínimo se deberá jugar con 4 jugadores en cancha.</p>
          <p>1.3 Se jugarán 3 partidos por fecha para cada equipo, de 18 minutos cada partido, durante 10 fechas.</p>
          <p>1.4 Si terminada la fecha 10, el primer lugar le lleva 12 o más puntos de diferencia al segundo lugar, campeonará automáticamente. De lo contrario, se jugará una final única de 30 minutos para definir al campeón la semana siguiente (fecha 11).</p>
          <p>1.5 Se podrá hacer como máximo un cambio de jugador iniciado el torneo. Si otro jugador se retira, el equipo deberá pagar igual los 80 soles por fecha estipulados.</p>
          <p>1.6 Si un jugador va a la cancha y no juega como mínimo 10min, se le descuenta -3 puntos al equipo.</p>
          <p>1.7 Solo podrán faltar todos los bajos de un equipo como máximo 1 fecha, si faltan los 3 nuevamente a la siguiente, se le sancionará al equipo con una multa de 3 puntos en la tabla.</p>
          <p>1.8 El tiempo de tolerancia máxima por partido para presentarse en cancha debidamente uniformado será de 3 minutos como máximo. En caso contrario, se le otorgará 3 – 0 al rival presente. Si no se presentan los 2 equipos, no se otorgará punto alguno.</p>
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">2. GOLES</h3>
          <p>2.1 Solo el árbitro determina el gol y llevará el control de todos los goles anotados.</p>
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">3. SAQUES Y AREAS</h3>
          <p>3.1 Los saques laterales se realizan con ambas manos, con o sin pisar la línea.</p>
          <p>3.2 Los tiros de esquina se podrán sacar con ambas manos o pies.</p>
          <p>3.3 El área pequeña del arco es solo para el arquero.</p>
          <p>3.4 Falta cometida adentro del área grande se cobrará penal.</p>
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">4. CAMBIOS</h3>
          <p>4.1 Las camiseta o chaleco del arquero obligatoriamente tiene que ser de un color distinto al de los 2 equipos en cancha.</p>
          <p>4.2 Se permitirá el reingreso ilimitado, sin restricciones.</p>
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">5. TARJETAS</h3>
          <p>5.1 Llamada de atención.</p>
          <p>5.2 Tarjeta amarilla 🟨.</p>
          <p>5.3 Tarjeta naranja 🟧 (sale de la cancha por 3 minutos).</p>
          <p>5.4 Tarjeta roja 🟥 (no juega lo que resta del partido ni tampoco el siguiente partido de su equipo. Además, su equipo deberá pagar una multa de 5 soles hasta antes del inicio de la siguiente fecha, sino habrá una sanción de 3 puntos).</p>
          <p>5.5 Según la gravedad de la falta se sacará el color de la tarjeta.</p>
          <p>5.6 Se sancionarán los continuos reclamos al árbitro.</p>
          <p>5.7 El árbitro es la única autoridad durante el partido.</p>
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">6. PAGOS</h3>
          <p>6.1 El pago por concepto de cancha y arbitraje es de 10 soles por fecha.</p>
          <p>6.2 Si falta pagar por lo menos 1 jugador de algún equipo hasta la medianoche de la fecha jugada, se le restarán 3 puntos al equipo infractor.</p>
          <p>6.3 Los pagos ya sean por Yape, Plin o Efectivo deben ser mandados con foto al grupo (puede pagar otro por el).</p>
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">7. SANCIONES</h3>
          <p>7.1 Solo los capitanes pueden hacer reclamos de pagos al tesorero en el grupo de la 'Mesa redonda'.</p>
          <p>7.2 Si se agrede verbalmente al árbitro se le suspenderá 1 fecha completa.</p>
          <p>7.3 Si se agrede físicamente al árbitro se le expulsará del torneo.</p>
          <p>7.4 Si un equipo no llega uniformado, puede jugar con chalecos o camisetas alternas con la única condición que estas sean de un color distinto que el del rival. De lo contrario, perderá el partido por w.o y 3 goles en contra.</p>
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">8. PREMIOS</h3>
          <p>8.1 El equipo campeón se llevará un premio de 2200 nuevos soles, medallas y trofeo.</p>
          <p>8.2 El goleador del torneo se llevará un premio de 100 nuevos soles y medalla.</p>
        </div>
      </section>
    </div>
  </main>
</Layout>
