---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
  <main class="flex flex-col gap-6 pb-6">
    <div class="grid grid-cols-1 gap-6">
      <section class="bg-dark-light flex flex-col gap-4 p-4 rounded-lg">
        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">INICIO Y FINAL:</h3>
          <p>Solo el 치rbitro determina el inicio y final del partido, la pelota al centro del campo.</p>
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">GOLES:</h3>
          <p>Solo el 치rbitro determina el gol y llevar치 el control de todos los goles anotados.</p>
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">SAQUES Y AREAS:</h3>
          <p>Laterales con ambas manos sin pisar la l칤nea.</p>
          <p>Tiros de esquina con ambas manos o pies.</p>
          <p>El 치rea peque침a del arco es solo para el arquero.</p>
          <p>Falta cometida adentro de La segunda 치rea se cobrar치 penal.</p>
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">CAMBIOS:</h3>
          <p>Est치 totalmente prohibido ponerse la camiseta o chaleco al ingresar adentro de la cancha, para pedir el cambio el jugador ya debe tener el chaleco o camiseta puesta.</p>
          <p>Las camiseta o chaleco del arquero obligatoriamente tiene que ser de un color distinto al de los 2 equipos en cancha.</p>
          <p>En cada partido debe jugar / tapar obligatoriamente por lo menos 1 de los 3 jugadores de menor puntaje de cada equipo.</p>
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">TARJETAS:</h3>
          <p>1) Llamada de atenci칩n.</p>
          <p>2) Tarjeta amarilla 游릳</p>
          <p>3) Tarjeta naranja 游릲 (sale de la cancha por 3 minutos)</p>
          <p>4) Tarjeta roja 游린 (no juega lo que resta del partido ni tampoco el siguiente partido de su equipo)</p>
          <p>5) Seg칰n la gravedad de la falta se sacar치 el color de la tarjeta.</p>
          <p>6) Se sancionaran los continuos reclamos al 치rbitro.</p>
          <p>7) el 치rbitro es la 칰nica autoridad durante el partido.</p>
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">FALTAS GRAVES:</h3>
          <p>Si se agrede verbalmente al arbitro se le suspender치 4 fechas.</p>
          <p>Si se agrede f칤sicamente al arbitro se le expulsar치 del torneo.</p>
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">PAGOS:</h3>
          <p>El pago por concepto de cancha y arbitraje es de 10 soles por fecha.</p>
          <p>Si un jugador no abona antes de la hora exacta de inicio del primer partido de la fecha, no jugar치.</p>
          <p>Si falta pagar por lo menos 1 jugador de alg칰n equipo hasta la medianoche de la fecha jugada, se le restar치n 3 puntos a este.</p>
          <p>Los pagos ya sean por Yape, Plin o Efectivo deben ser mandados con foto al grupo (puede pagar otro por el).</p>
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="font-semibold">OTROS:</h3>
          <p>Cada equipo puede hacer un jale durante el torneo SOLO SI 2 jugadores de su equipo se retiran, previo acuerdo de los 6 capitanes.</p>
          <p>Solo los capitanes pueden hacer reclamos de pagos al tesorero.</p>
        </div>
      </section>
    </div>
  </main>
</Layout>
